// default color set

// color variation

// title color

// social color

// body var
$iconFont: 'FontAwesome';
$iconFont2: 'iconfont';
$bodyFont: 'sf_pro_displayregular';
$titleFont: 'Lato', sans-serif;
$fontWeight: 400;
$bColor: #333333;
$bfSize: 22px;
$blineHeight: 35px / $bfSize;
$primary-color:#191130;
$secondary-color:#ff6666;
$transition: all .3s ease-in-out;